{% load static %}

{% load has_groups %}
<aside class="left-sidebar bg-sidebar">
    <div id="sidebar" class="sidebar sidebar-with-footer">
        <!-- Aplication Brand -->
        <div class="app-brand">
            <a href="{% url 'dashboard:home' %}">
                <svg class="brand-icon" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="30"
                    height="33" viewBox="0 0 30 33">
                    <g fill="none" fill-rule="evenodd">
                        <path class="logo-fill-blue" fill="#7DBCFF" d="M0 4v25l8 4V0zM22 4v25l8 4V0z" />
                        <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
                    </g>
                </svg>
                <span class="brand-name">Dashboard</span>
            </a>
        </div>
        <!-- begin sidebar scrollbar -->
        <div class="sidebar-scrollbar">

            <!-- sidebar menu -->
            <ul class="nav sidebar-inner" id="sidebar-menu">
                {% comment %} <li class="has-sub">
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse"
                        data-target="#dashboard" aria-expanded="false" aria-controls="dashboard">
                        <i class="mdi mdi-view-dashboard-outline"></i>
                        <span class="nav-text">Dashboard</span> <b class="caret"></b>
                    </a>
                    <ul class="collapse" id="dashboard" data-parent="#sidebar-menu">
                        <div class="sub-menu">
                            <li>
                                <a class="sidenav-item-link" href="#">
                                    <span class="nav-text">Ecommerce</span>

                                </a>
                            </li>
                            <li>
                                <a class="sidenav-item-link" href="#">
                                    <span class="nav-text">Analytics</span>

                                    <span class="badge badge-success">new</span>

                                </a>
                            </li>
                        </div>
                    </ul>
                </li> {% endcomment %}
              
                
                {% if request.user|has_groups:'Admin' or request.user.is_superuser %}
                <li class="has-sub">
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#charts"
                        aria-expanded="false" aria-controls="charts">
                        <i class="fas fa-database"></i>
                        <span class="nav-text">Master Data</span> <b class="caret"></b>
                    </a>
                    <ul class="collapse" id="charts" data-parent="#sidebar-menu">
                        <div class="sub-menu">

                            <li>
                                <a class="sidenav-item-link" href="{% url 'dashboard:server-type-list' %}">
                                    <span class="nav-text">Server Type</span>

                                </a>
                            </li>
                            <li>
                                <a class="sidenav-item-link" href="{% url 'dashboard:disk-type-list' %}">
                                    <span class="nav-text">Disk Type</span>

                                </a>
                            </li>
                            <li>
                                <a class="sidenav-item-link" href="{% url 'dashboard:server-owner-list' %}">
                                    <span class="nav-text">Owner of Server</span>

                                </a>
                            </li>
                            <li>
                                <a class="sidenav-item-link" href="{% url 'dashboard:server-location-list' %}">
                                    <span class="nav-text">Server Location</span>

                                </a>
                            </li>
                        </div>
                    </ul>
                </li>
                {% endif %}

                <li>
                    <a class="sidenav-item-link" href="{% url 'dashboard:server-list' %}">
                        <i class="fas fa-server"></i>
                        <span class="nav-text">Server</span>
                    </a>
                </li>

                {% if request.user|has_groups:'Admin' or request.user.is_superuser %}
                <li>
                    <a class="sidenav-item-link" href="{% url 'dashboard:user-list' %}">
                        <i class="fas fa-users"></i>
                        <span class="nav-text">Users</span>
                    </a>
                </li>
                {% endif %}
             
            </ul>

        </div>

        <hr class="separator" />
    </div>
</aside>